body
{
    background: url('images/wallpaper.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    background-color: #151515;
    font-family: 'Monospace', Arial, sans-serif;
    color: rgb(97,206,60);
    margin-bottom: 32%;
}

#bloc_page
{
    width: 75%;
    margin: auto;
}

section h1, footer h1, nav a
{
    font-family: Monospace, serif;
    font-weight: normal;
    text-transform: uppercase;
}

/* Header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

#titre_principal
{
    display: flex;
    flex-direction: column;
}

#logo
{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#logo img
{
    width: 175px;
    height: 175px;
}

header h1
{
    font-family: 'Monospace', serif;
    font-size: 2.5em;
    font-weight: normal;
    margin: 0 0 0 10px;
    padding: 10px;
    border-bottom: 5px solid rgb(100,30,140);
    border-right: 5px solid rgb(100,30,140);
}

/* Navigation */

nav ul
{
    list-style-type: none;
    display: flex;
    margin-top:50px;
}

nav li
{
    margin-right: 15px;
}

nav a
{
    font-size: 1.3em;
    color: rgb(0,140,180);
    padding-bottom: 3px;
    text-decoration: none;
}

nav a:hover
{
    color: rgb(200,11,99);
    border-bottom: 3px solid rgb(140,100,220);
}

nav #selected
{
    color: rgb(200,11,99);
    border-bottom: 3px solid rgb(140,100,220);
}

/* Bannière */

#banniere_image
{
    margin-top: 15px;
    height: 200px;
    border: 2px solid rgb(100,30,140);
    background: url('images/trump.jpg') no-repeat;
    background-size: 100%;
    background-position: center;
    position: relative;
    box-shadow: 10px 10px rgb(100,30,140) ;
    margin-bottom: 25px;
}

/* Corps */

section
{
    display: flex;
    margin-bottom: 20px;
}

article, aside
{
    text-align: justify;
}

article
{
    background-color: rgb(25,25,25);
    border: 2px solid rgb(37,136,10);
    box-shadow: 10px 10px rgb(37,136,10);
    margin-right: 20px;
    padding: 10px;
    flex: 3;
}

.ico_categorie
{
    vertical-align: middle;
    margin-right: 8px;
}

article p
{
    font-size: 0.8em;
}

aside
{
    flex: 1.2;
    position: relative;
    background-color: rgb(20,20,20);
    border: 2px solid rgb(0,100,140);
    box-shadow: 10px 10px rgb(0,100,140);
    padding: 10px;
    color: rgb(0,140,170);
    font-size: 0.9em;
}

article a
{
    color: rgb(0,180,210);
    text-decoration: none;
}

article a:hover
{
    color: rgb(200,11,99);
}

aside a
{
    color: rgb(0,180,210);
    text-decoration: none;
}

aside a:hover
{
    color: rgb(200,11,99);
}
#fleche_bulle
{
    position: absolute;
    top: 100px;
    left: -12px;
}

#photo_zozor
{
    text-align: center;
}

#photo_zozor img
{
    border: 1px solid #181818;
}

aside img
{
    margin-right: 5px;
}

/* References*/
reference
{
    margin: 55px;
    margin-bottom: 0px;
    padding: 15px;
    border: 3px solid rgb(100,30,140);
    background-color: #151515;
}


reference a
{
    font-size: 22px;
    color: rgb(0,140,210);
    text-decoration: none;
}

reference a:hover {
    color: rgb(200,11,99);
}

reference h1 {
    border-bottom: 2px solid rgb(100,30,140);
    text-align: center;
    font-size: 32px;
}

reference h2 {
    color: rgb(200,50,150);
    margin-left:15%;
}

reference p {
    margin-right: 15%;
    margin-left: 15%;
    margin-bottom: 2%;
    margin-top: 2%;
    border: 2px solid rgb(200,50,150);
    padding: 2%;
    background-color: #101010
}